@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v13-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-v13-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v13-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Platform Web';
  src:  url('/fonts/Platform-Medium-Web.woff2') format('woff2'),
        url('/fonts/Platform-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

// Variables
:root {
  --container-width: 1360px;
  --sidebar-width: 304px;
  
  --white: #fff;
  --yellow: #FFCA28;
  --yellow-dark: #C79A00;
  --blue: #0064FF;
  --blue-tint: #E9F1FD;
  --blue-tint-dark: #CCE0FF;
  --green: #27865E;
  --purple: #A04CBE;
  --purple-dark: #710F95;
  --red: #E50051;
  --gray: #D9D9D9;
  --black: #000;
  
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Platform Web';
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--font-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--blue-tint);
}

h1, h2, h3, h4 {
  margin: 0 0 16px;
  line-height: 1.1;
  letter-spacing: -0.014em;
  font-weight: 500;
  font-family: var(--font-heading);
}

h1, h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 1rem;
}

a {
  color: var(--blue);
  text-decoration: none;

  &:not(.btn) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

button {
  letter-spacing: -0.0011em;
  font-family: var(--font-body);
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 20px 28px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  background: var(--blue);
  border: 0;
  border-radius: 120px;

  &--outline {
    padding: 20px 28px;
    line-height: 1;
    color: var(--blue);
    background: transparent;
    border: 1px solid var(--blue);
  }

  &--settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 18px 16px;
    font-size: .875rem;
    line-height: 1;
    color: var(--black);
    background: transparent;
    border: 1px solid #BFBFBF;

    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(/icon-btn-settings.svg) 50% 50% no-repeat;
    }
  }
}

input {
  font-family: var(--font-body);
}

img {
  max-width: 100%;
}

hr {
  margin: 32px 0;
  border: 0;
  border-top: 1px solid #D9D9D9;
}
